* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url("./resources/img/pexels-sergio-souza-1779492.jpg");
  height: 60vh;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-position: center;
}

.banner ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5rem;
}

.banner ul a {
  color: white;
  display: flex;
  align-items: center;
}

.banner ul li {
  list-style: none;
}

.banner ul a img {
  height: 45%;
  margin-left: 1rem;
}

.banner h1 {
  font-family: "Niconne", cursive;
  color: white;
  margin-top: 20%;
}

.nav-div {
  width: 100%;
  height: 5vh;
  position: absolute;
  top: 58vh;
  align-self: center;
}

.nav {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  margin: 0rem 5rem;
  background-color: #eaeaea;
  height: 5vh;
  box-shadow: 5px 10px 5px #ca756245;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 850px) {
  .nav a {
    font-size: 0.8rem;
  }
  .nav {
    width: 100%;
    margin: 0;
  }
  .banner-title {
    height: 50%;
  }
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  border: 2px solid #9f9f9f;
  color: #141446;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

.nav a:hover {
  font-size: larger;
  transition: all 0.5s ease-in-out;
  color: rgb(250, 79, 108);
  font-weight: 400;
  border-bottom: 5px solid brown;
}

.nav li {
  list-style: none;
}

.bottom {
  width: 100%;
  height: 40vh;
  background-image: url("./resources/img/bouquet.jpg");
  background-size: cover;
  object-fit: fill;
  background-position: center;
}
