* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(white, rgb(223, 109, 128));
  font-family: "Playfair Display", serif;
  color: rgb(48, 48, 48);
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 850px) {
  body {
    height: auto;
  }
}

.nav-header {
  height: 5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  font-family: "Dancing Script", cursive;
  border-bottom: 2px solid;
}

.nav-header a {
  text-decoration: underline;
  color: rgb(250, 79, 108);
  font-family: "Lobster", cursive;
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  .nav-header {
    font-size: 0.5rem;
    height: 5%;
  }
}

.line1 {
  width: 4rem;
  height: 0.5rem;
  margin: 0.4rem;
  background: rgb(48, 48, 48);
  pointer-events: none;
  border-radius: 0.3rem;
}
.line2 {
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem;
  background: rgb(48, 48, 48);
  pointer-events: none;
  border-radius: 0.3rem;
}

.line3 {
  width: 1rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(48, 48, 48);
  pointer-events: none;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 850px) {
  .line1 {
    width: 2rem;
    height: 0.3rem;
    margin: 0.1rem 0rem;
  }
  .line2 {
    width: 1rem;
    height: 0.3rem;
    margin: 0.1rem 0rem;
  }
  .line3 {
    width: 0.5rem;
    height: 0.3rem;
    margin: 0.1rem 0rem;
  }
}

.burger {
  display: flex;
}

.burger-lines {
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin-right: 1rem;
  color: rgb(250, 79, 108);
}

@media only screen and (max-width: 850px) {
  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-links li {
    margin-right: 0.5rem;
  }
}

/* end of header */

/* .story-img {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
  margin-bottom: -10vh;
} */

.slide {
  min-height: 90vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.couple-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.couple-desc h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
}

.couple-desc p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
}

.couple-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.couple-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 850px) {
  .couple-img {
    /* flex-basis: none;
    height: 30%; */
    padding-top: 1rem;
  }
  .couple-desc {
    padding-left: 0;
  }
  .couple-desc h2 {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
  .couple-desc p {
    font-size: 0.8rem;
    padding: 2rem 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
}

.story1-span {
  color: rgb(255, 139, 93);
}
.story2-span {
  color: rgb(86, 124, 228);
}
.story3-span {
  color: rgb(167, 110, 231);
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 105%;
  left: 0;
  top: 0;
}

.reveal-img1,
.reveal-text1 {
  background: linear-gradient(#f9e7ea, #f6d8dd);
}

.reveal-img2,
.reveal-text2 {
  background: linear-gradient(#f0bbc4, #eba7b2);
}

.reveal-img3,
.reveal-text3 {
  background: linear-gradient(#e58b9a, #e1798a);
}

/* footer section */
footer {
  display: flex;
  height: 5vh;
  justify-content: space-evenly;
  border-bottom: 10px solid black;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.line {
  width: 80%;
  height: 0.2rem;
  background: gray;
}

.copyright {
  width: 50%;
}

.contact-info {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
footer a {
  color: rgb(7, 7, 7);
}

footer img {
  height: 1rem;
  width: 1rem;
}

@media only screen and (max-width: 850px) {
  footer {
    height: 5%;
  }
  .copyright {
    width: 40%;
    font-size: 0.8rem;
  }
  .contact-info {
    width: 50%;
  }
  .line {
    height: 0.4rem;
    margin-bottom: 0.3rem;
  }
}
